.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
  background-color: rgb(255, 166, 0);
  color: #000;
  padding: .6rem;
  border-radius: .5rem;
  transition: .3s;
  cursor: pointer;
  margin: 2.5px;
  user-select: none;
  flex: 1 1;
  font-size: 12px;
  /* min-width: 40px; */
  /* box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25); */
}
.button:hover {
  background-color: hsl(var(--hue), 8%, 50%);
}
.operator{
  background-color: aqua;
}
.equal{
  background-color: red;
  color: var(--text-color-lighten);
}
.equal:hover{
  background-color: rgb(128, 8, 8), 100%, 35%;
}