/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap'); */

.input {
  font-family: 'Roboto', sans-serif;
  height: 70px;
  font-size: 1.8rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: red;
  padding: 11px 30px 11px 11px;
  overflow: hidden;
  background-color: black;
}